*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#main_header{
  text-align: center;
}
.container{
  width: 800px;
  max-width: 90%;
 
  padding: 10px;
  margin:20px auto;
  background: #e0d9d9;
  border-bottom: 1px solid #000;

  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  padding:50px 15px 200px;



}
.grid_container{
  display: grid;
  grid-template-columns: 45% 32% 20%;
  row-gap: 10px;
  column-gap: 10px;
  margin-top:10px ;
  align-items: center;
  border-bottom: 1ox solid #000;
  padding-bottom: 50px;
}

#input_todo,#todo_date{
  font-size: 15px;
  padding: 15px 5px;
  border: none;

}
.btn_todo{
  background-color: #143611;
  border-radius: 10px;color: #fff;
  padding: 10px  0;
  border-radius: 10px 0;
  border: none;
}
.btn_f_todo,.undo_btn{
  color: #fff;
  background: #5c0808;
  padding: 10px ;
  border-radius: 10px 0;
  border: none;
}
#dashboard{
  border: 2px solid #5b5959;
  padding: 10px 5px;
  margin: 30px 3px;
}
#dashboard a{
  text-decoration: none;
}
::placeholder{
  text-align: center;
}
#arrw{
  display: flex
  ;
 width: 20px;
}

@media(max-width:500px){
  .grid__item{
    display: grid;
    grid-template-columns: 55% 43% ;
    row-gap: 10px;
    column-gap: 10px;
    margin-top:10px ;
    align-items: center;
    border-bottom: 1ox solid #000;
    padding-bottom: 50px;
  }
  .btn_todo{
    padding: 10px  100%;
    border-radius: 10px 0;
    border: none;
  }
}

